<ion-modal-view class="popup-modal text-left">
<div align-title="middle" class="bar bg-black">
<h1 class="title">Brightness Setting</h1>
	<ion-button class="button button-icon icon ion-ios-close-outline" ng-click="leaveAddChangeDialog(1)"></ion-button>
</div>
<ion-content padding="true"class="popup-content">
	<div class="item range range-positive">
    <i class="icon ion-ios-sunny-outline"></i>
    <input type="range" name="volume" min="0" max="1" value="0.5">
    <i class="icon ion-ios-sunny"></i>
  </div>
</ion-content>
</ion-modal-view>