<ion-view title="POPii Tutorial" animation="slide-left-right" >

<ion-content has-header="false" has-tabs="false" padding="true" class="bg-black white">
<h3 class="tut-head-title">POPii Tutorial</h3>

<h4 class="tut-body-title">1. Select the Theater</h4>

<div class='hiw1-img1 startup-img'></div>


<h4 class="tut-body-title">2. Select the Movie</h4>

<div class='hiw1-img2 startup-img'></div>

<h4 class="tut-body-title"></h4>
<br>
<br>
<br>
<br>
<br>
<br><br>
<div class="row">
<div class="col-80">    
<div class='leftpng' ui-sref="startup"></div>
</div>
<div class="col-10">
<div class='rightpng' ui-sref="how-it-work2"></div>
</div>
</div>
</ion-content>
</ion-view>