<ion-view title="POPii Tutorial" animation="slide-left-right">

<ion-content  has-header="false" has-tabs="false" padding="true" class="bg-black white">
<h3 class="tut-head-title">POPii Tutorial</h3>

<h4 class="tut-body-title">3. Select your Food</h4>

<div class='hiw2-img1 startup-img'></div>


<h4 class="tut-body-title">4. Pick up your order</h4>

<div class='hiw2-img2 startup-img'></div>

<h4 class="tut-body-title"></h4>
<br>
<br>
<br>
<br>
<br>
<br><br>
<div class="row">
<div class="col-80">    
<div class='leftpng' ui-sref="how-it-work1"></div>
</div>
<div class="col-10">
<div class='rightpng' ui-sref="important-page"></div>
</div>
</div>
</ion-content>
</ion-view>