<ion-view title="IMPORTANT" animation="slide-left-right">

<ion-content  has-header="false" has-tabs="false" padding="true" class="bg-black white">
<div class="tut-content">
<h3 class="tut-head-title">IMPORTANT</h3>
<br>
<h4 class="tut-body-title text-left extra-design">
Please allow the permissions on </h4>

<h4 class="tut-body-title text-left extra-design">the following page in order for </h4>

<h4 class="tut-body-title text-left extra-design">“POPii” to provide quality service.</h4>
<br><br>
<h4 class="tut-body-title text-left extra-design">  1. Allow Location Setting </h4>

<h4 class="tut-body-title text-left extra-design">  2. Allow Push Notification</h4>

<h4 class="tut-body-title text-left extra-design">  3. Adjust Brightness and </h4>

<h4 class="tut-body-title text-left extra-design">  Vibration settings</h4>
</div>
<div class="row">
<div class="col-80">    
<div class='leftpng' ui-sref="how-it-work2"></div>
</div>
<div class="col-10">
<div class='rightpng' ui-sref="welcome"></div>
</div>
</div>

 </ion-content>
</ion-view>