<ion-view title="POPii Tutorial" animation="slide-left-right">
<ion-content has-header="false" has-tabs="false" padding="true" class="bg-black">
<h3 class="tut-head-title">When You Can Use “POPii”</h3>

<h4 class="tut-body-title">1. Order on your way to the movie</h4>

<div class='startup-img1 startup-img'></div>


<h4 class="tut-body-title">2. Order During Previews</h4>

<div class='startup-img2 startup-img'></div>


<h4 class="tut-body-title">3. Order During the Movie</h4>

<div class='startup-img3 startup-img'></div>

<div class="row">
<div class="col-80">    
<!-- <button class='button leftpng' ui-sref="startup"></button> -->
</div>
<div class="col-10">
<div class='rightpng' ui-sref="how-it-work1"></div>
</div>
</div>

 </ion-content>
</ion-view>