<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view class="slide-left-right" name="menuContent" cache-view="false">
    </ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="sidemenu">
  <ion-content class="bg-black">
  <ion-item ><div class="title-menu center">POPii</div> </ion-item>
  <ion-list>
  <ion-item nav-clear menu-close ui-sref="app.product-types">
    <div class="foodicon"></div>
    <div class="item-menu"> Food</div>
  </ion-item>
  <ion-item menu-close ui-sref="app.movies">
  <div class="Theaterlocation"></div>
  <div class="item-menu">Theater Location</div>
  </ion-item>
  <ion-item menu-close ui-sref="app.showtime">
  <div class="movies_showtime"></div>
  <div class="item-menu">Movies & Showtime</div>
  </ion-item>
  <ion-item menu-close ui-sref="app.payment-method">
  <div class="paymentmethod"></div>
  <div class="item-menu">Payment Method</div>
  </ion-item>
  <ion-item menu-close ui-sref="app.payhistory">
  <div class="historyicon"></div>
  <div class="item-menu"> Pay History</div>
  </ion-item>
  <ion-item menu-close ui-sref="app.rewards">
  <div class="rewards"></div>
  <div class="item-menu"> Rewards</div>
  </ion-item>
  <ion-item menu-close ui-sref="app.account-setting">
  <div class="account"></div>
  <div class="item-menu"> Account</div>
  </ion-item>
  <ion-item menu-close ui-sref="app.brightness-setting">
  <div class="account"></div>
  <div class="item-menu">Brightness Setting</div>
  </ion-item>
</ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>
     <!--  <ion-item nav-clear menu-close ui-sref="app.geolocation"><i class="icon ion-home"></i>GeoLocation</ion-item> -->