<ion-view view-title="Rewards" class="view">
<div class="mynavbar-header">
<div class="row">
<div class="col-10"><button class="naviconimg" menu-toggle="left"></button></div>
<div class="col-80"><h2 class="head-wide">POPii</h2></div>
<div class="col-10"><button class="cartimg " ng-click="checkout()"></button></div>
</div>
</div>
<ion-content has-header="true" padding="true" class="mycontent">
<div class="mynavbar"><!-- <div class="row"><div class="popii_logo"></div></div> -->
<h2 class="food-title">Rewards</h2></div>
  <h3 class="title-common">COMMING SOON<h3>
  </ion-content>
</ion-view>